<ion-content>
        <ion-grid style="height: 100%">
            <ion-row justify-content-center align-items-center style="height: 100%">
                <ion-list no-line  center>
                <ion-item no-lines text-center>
                        <ion-img class="transparent" width="80" height="80" src="../../assets/imgs/logo.png"></ion-img>
                </ion-item>
                <ion-item no-lines text-center>
                    <h2>{{ 'LOGIN_FORGOTTEN_PASSWORD' | translate}}</h2>
                </ion-item>
                <ion-item no-lines >
                        <ion-label text-center style="font-size: 12px"  text-wrap>{{ 'LOGIN_FORGOTTEN_LEGEND' | translate}}</ion-label>
                </ion-item>
                <ion-item>
                <ion-input name="email" [(ngModel)]="email"  type="text" placeholder="{{ 'LOGIN_FORGOTTEN_EMAIL' | translate}}"></ion-input>
                </ion-item>
                <ion-item center text-center no-lines>
                <button (click)="doForgotten()" ion-button block color="primary" >
                        {{ 'LOGIN_FORGOTTEN_SEND' | translate}}
                    </button> 
                </ion-item>

                <ion-item center text-center no-lines>
                    <button (click)="back()" ion-button block class="backButton" >
                        {{ 'LOGIN_FORGOTTEN_BACK' | translate}}
                    </button> 
                </ion-item>
                </ion-list>
            </ion-row>
        </ion-grid>
    </ion-content>