<ion-content class="background">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
                    <ion-list no-line  center>
                    <ion-item no-lines text-center>
                            <ion-img class="transparent" width="80" height="80" src="../../assets/imgs/logo.png"></ion-img>
                    </ion-item>
                    <ion-item>
                    <ion-input name="username" [(ngModel)]="login.username" class="custom-input" type="text" placeholder="{{ 'LOGIN_USERNAME' | translate}}"></ion-input>
                    </ion-item>
                    <ion-item>
                    <ion-input name="password" [(ngModel)]="login.password" class="custom-input" type="password" placeholder="{{ 'LOGIN_PASSWORD' | translate}}"></ion-input>
                    </ion-item>
                    <ion-item center text-center no-lines>
                    <button (click)="doLogin()" ion-button block color="primary" >
                            {{ 'LOGIN_BUTTON' | translate}}
                        </button> 
                    </ion-item>

                    <ion-item center text-center no-lines> 
                    <a (click)="viewForgotten()" href="javascript:void(0)" class="forgotten">{{ 'LOGIN_FORGOT_PASSWORD' | translate}}</a>
                    </ion-item>
                    </ion-list>
        </ion-row>
    </ion-grid>
</ion-content>