
.item-md,.item-ios {
  background-color: rgba(0, 0, 0, 0)!important;
}

.transparent{
background-color: rgba(0, 0, 0, 0)!important;
}

.forgotten{
  font-size: 12px;text-decoration: none;color: white;
}

ion-input {
    &.custom-input {
      color: #fff;
      ::placeholder {
        color: #fff;
        
      }
    }
  }

page-home {
	.background {
        background-image: url('../assets/imgs/imagen.png');
  }
    


	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
    }	
    

}

