<ion-content padding>
    <ion-list no-line align-items-center>
        <ion-item>Ifff</ion-item>
        <ion-item>am</ion-item>
        <ion-item>a</ion-item>
        <ion-item>list</ion-item>
    </ion-list>
</ion-content>
