

.ios, .md {
 
    .background {
        background: url('../assets/imgs/imagen.png') no-repeat;
        position: absolute;
        background-position: 0 0;
        background-size: 100% auto;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        background-image: url('../assets/imgs/animation_logo.gif');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;
        width: 50%;
        height: 50%;
        border: 0px;
    }
 
}